:root {
  --black: rgb(25, 25, 25);
  --grey: rgb(61, 61, 61);
  --white: #dde5ec;
  --green: #2c975a;
  --orange: rgb(220, 153, 27);
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem 2rem;
}

h1 {
  text-transform: uppercase;
}

.disabled {
  background-color: var(--grey);
  color: var(--white);
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.success {
  color: var(--green);
}

.warning {
  color: var(--orange);
}
