<!-- prettier-ignore -->
{% extends "finance/base.html" %} 
{% load humanize %}
{% block title %}Bills{% endblock %}
{% block content %}
<div class="container">
  <h1>Bill {{ bill.id }}</h1>

  <div class="button-group">
    <a href="{% url 'finance:index' %}" class="btn btn-outline-dark">Home</a>

    <a href="{% url 'finance:bills' %}" class="btn btn-outline-dark">Bills</a>
  </div>

  {% if bill %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Investor</th>
        <th scope="col">Investment</th>
        <th scope="col">Fee Amount</th>
        <th scope="col">Date Added</th>
        <th scope="col">Fee Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ bill.id }}</th>
        <td>
          {% if investor %}
          <a href="{% url 'finance:investor' investor.id %}"
            >{{ investor.name }}
          </a>
          {% else %} N/A {% endif %}
        </td>
        <td>
          {% if investment %}
          <a href="{% url 'finance:investment' investment.id %}"
            >{{ investment.startup_name }}
          </a>
          {% else %} N/A {% endif %}
        </td>
        <td>€{{ bill.fees_amount|intcomma}}</td>
        <td>{{ bill.date_added }}</td>
        <td>{{ bill.fees_type }}</td>
      </tr>
    </tbody>
  </table>

  {% else %}
  <p>No Bill information available.</p>
  {% endif %}
</div>
{% endblock %}
