<!-- prettier-ignore -->
{% extends "finance/base.html" %} 
{% load humanize %}
{% block title %}Bills{% endblock %}
{% block h1 %}Bills{% endblock %}
{% block content %}

{% if messages %} {% for message in messages %}
<p {% if message.tags %} class="text-{{ message.tags }}" {% endif %}>
  {{ message }}
</p>
{% endfor %} {% endif %} {% if bills %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Investor</th>
      <th>Investment</th>
      <th>Fee Amount</th>
      <th>Date Added</th>
      <th>Fee Type</th>
    </tr>
  </thead>
  <tbody>
    {% for bill in bills %}
    <tr>
      <th>
        <a href="{% url 'finance:bill' bill.id %}">{{ bill.id }} </a>
      </th>
      <td>{{ bill.investor_id }}</td>
      <td>{{ bill.investment_id }}</td>
      <td>€{{ bill.fees_amount|intcomma}}</td>
      <td>{{ bill.date_added }}</td>
      <td>{{ bill.fees_type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No bills are available.</p>
{% endif %} {% endblock %}
