{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>OneRagTime Challenge</h1>
    <h2>Investments</h2>
    {% if investments %} {% for investment in investments %}
    <p>
      {{ forloop.counter }}. Startup Name:
      <a href="{% url 'finance:investment' investment.id %}">
        {{ investment.startup_name }}
      </a>
    </p>
    {% endfor %} {% else %}
    <p>No investments are available.</p>
    {% endif %}

    <h2>Investors</h2>
    {% if investors %} {% for investor in investors %}
    <p>
      {{ forloop.counter }}. Name:
      <a href="{% url 'finance:investor' investor.id %}">
        {{ investor.name }}
      </a>
    </p>
    {% endfor %} {% else %}
    <p>No investors are available.</p>
    {% endif %}

    <h2>Bills</h2>
    {% if bills %} {% for bill in bills %}
    <p>
      {{ forloop.counter }}. Bill:
      <a href="{% url 'finance:bill' bill.id %}">
        {{bill.investment_id}} - {{ bill.fees_amount }}
      </a>
    </p>
    {% endfor %} {% else %}
    <p>No bills are available.</p>
    {% endif %}
  </body>
</html>
