{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investments</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    {% if investment %}
    <h1>{{ investment.startup_name }}</h1>

    <p>
      Investor: {% if investor %}
      <a href="{% url 'finance:investor' investor.id %}"
        >{{ investment.investor_id }}
      </a>
      {% else %} {{ investment.investor_id }} {% endif %}
    </p>

    <p>Invested Amount: €{{ investment.invested_amount }}</p>
    <p>Percentage Fee: {{ investment.percentage_fees }}%</p>
    <p>Date Added: {{ investment.date_added }}</p>
    <p>Fee Type: {{ investment.fees_type }}</p>

    <div class="button-group">
      <form
        method="post"
        action="{% url 'finance:generate_investment_bill' investment.id %}"
      >
        {% csrf_token %}
        <button type="submit" class="button">Generate Bill</button>
      </form>

      <a href="{% url 'finance:index' %}" class="button alt"
        >Go to Finance Page</a
      >
    </div>

    {% if messages %} {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
      {{ message }}
    </p>
    {% endfor %} {% endif %} {% else %}
    <p>No investment information available.</p>
    {% endif %}
  </body>
</html>
