<!-- prettier-ignore -->
{% extends "finance/base.html" %} 
{% load humanize %}
{% block title %}Investments{% endblock %}
{% block h1 %}{{ investment.startup_name }}{% endblock %}
{% block content %}

{% if messages %} {% for message in messages %}
<p {% if message.tags %} class="text-{{ message.tags }}" {% endif %}>
  {{ message }}
</p>
{% endfor %} {% endif %} {% if investment %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Investor</th>
      <th class="nowrap">Startup Name</th>
      <th class="nowrap">Invested Amount</th>
      <th class="nowrap">Percentage Fee</th>
      <th class="nowrap">Date Added</th>
      <th class="nowrap">Fee Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="align-middle">
      <th>{{ investment.id }}</th>
      <td>{{ investment.investor_id }}</td>
      <td>
        <a href="{% url 'finance:investment' investment.id %}" class="mb-3">
          {{ investment.startup_name }}
        </a>
      </td>
      <td>€{{ investment.invested_amount|intcomma}}</td>
      <td>{{ investment.percentage_fees }}%</td>
      <td>{{ investment.date_added }}</td>
      <td>{{ investment.fees_type }}</td>
      <td>
        <form
          method="post"
          action="{% url 'finance:generate_investment_bill' investment.id %}"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-dark">Generate Bill</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>

{% else %}
<p>No investment information available.</p>
{% endif %} {% endblock %}
